<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
 @* <header style="background:yellow;">
    <h1> header portaion</h1>
 </header> *@

    @RenderBody()


     @* <footer style="background-color:powderblue">
         <h1>footer section</h1>
         </footer> *@


</body>
</html>
